<!DOCTYPE html>
<html lang="en">

<head>
	<title>Forgot Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/image/smartcard.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap-5.0.2-dist/css/bootstrap.min.css">
	<script src="/css/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/font/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/forgotpassword.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<!-- toast -->
	<% if (messages!="") { %>
		<div class="messages-show">
			<div class="messages-show-header">
				<div>
					<img src="/image/smartcard.ico" class="rounded mr-2" alt="..."
						style="width:20px;height: 20px;margin-right: 5px;">
					<strong class="mr-auto" style="color: black;font-weight: 700;">SMARTCARD</strong>
				</div>
				<button type="button" class="btn-close ml-2 mb-1" data-bs-dismiss="toast" onclick="closepopup()"></button>
			</div>
			<div class="messages-show-body">
				<p lang="en"><%= messages[0] %></p>
				<p lang="vi"><%= messages[1] %></p>
			</div>
		</div>
	
		<% } else{ %> 	
		<div class="messages-hide"></div>
	<% } %>
	<script>
		function closepopup(){
			document.getElementsByClassName("messages-show")[0].classList.add('messages-hide');
		}
	</script>

	<!-- content -->
	<div>
		<div>
			<div class="logo">
				<img src="" alt="" id="logo">
			</div>
			<div>
				<form class="validate-form" action="/processForgotPassword" method="post">
					<!-- label -->
					<span lang="en">Forgot Password</span>
					<span lang="vi">Quên mật khẩu</span>

					<!-- cardid -->
					<div class="validate-input" data-validate="Card ID is required" lang="en">
						<span lang="en">Card ID</span>
						<input class="inputcontent" type="text" name="cardid" placeholder="Type your card ID" lang="en">
						<span data-symbol="&#xf206;" lang="en"></span>
					</div>
					<div class="validate-input" data-validate="ID Thẻ bắt buộc điền"
						lang="vi">
						<span lang="vi">ID Thẻ</span>
						<input class="inputcontent" type="text" name="cardid" placeholder="Nhập ID thẻ" lang="vi">
						<span data-symbol="&#xf206;" lang="vi"></span>
					</div>

					<!-- email -->
					<div class="validate-input" data-validate="E-mail is required" lang="en">
						<div>
							<span lang="en">E-mail</span>
						</div>
						<input class="inputcontent" type="text" name="email" placeholder="Type your e-mail"
							lang="en">
						<span data-symbol="&#xf190;" lang="en"></span>
					</div>
					<div class="validate-input" data-validate="E-mail bắt buộc điền" lang="vi">
						<div>
							<span lang="vi">E-mail</span>
						</div>
						<input class="inputcontent" type="text" name="email" placeholder="Nhập e-mail"
							lang="vi">
						<span data-symbol="&#xf190;" lang="vi"></span>
					</div>

					<!-- submit -->
					<div>
						<div>
							<button type="submit" lang="en">
								Get Reset Password
							</button>
							<button type="submit" lang="vi">
								Lấy mật khẩu mới
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/jquery-3.6.4.js"></script>
	<script src="/js/signin.js"></script>
	<script src="/js/language.js"></script>
</body>

</html>