@keyframes messagesshow {
  0% {
    opacity: 0;
    right: -100px;
  }
  100% {
    opacity: 1;
    right: 50px;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.messages-show {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 350px;
  animation: messagesshow 0.7s;
  z-index: 2;
}
.messages-show .messages-show-header {
  background-color: dodgerblue;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.messages-show .messages-show-body {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.messages-show .messages-show-body p {
  font-size: 15px;
  color: black;
}

.messages-hide {
  display: none;
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  bottom: calc((100% - 20px) / 2);
  transform: translateY(50%);
  right: 2px;
  pointer-events: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  bottom: calc((100% - 20px) / 2);
  transform: translateY(50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1300px) {
  @keyframes messagesshow1200 {
    0% {
      opacity: 0;
      left: -100px;
    }
    100% {
      opacity: 1;
      left: 50px;
    }
  }
  .messages-show {
    left: 50px;
    bottom: 50px;
    animation: messagesshow1200 0.7s;
  }
}
@media (max-width: 1050px) {
  @keyframes messagesshow1050 {
    0% {
      opacity: 0;
      left: 0;
    }
    100% {
      opacity: 1;
      left: 50%;
    }
  }
  .messages-show {
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    animation: messagesshow1050 0.7s;
  }
  .messages-show .messages-show-body {
    background-color: rgb(236, 236, 236);
  }
}
@media (max-width: 991px) {
  .limiter .container-login100 {
    padding-top: 50px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    -moz-column-gap: 500px;
         column-gap: 500px;
  }
}
@media (max-width: 700px) {
  .limiter .container-login100 .logo img {
    width: 400px;
    height: 80px;
  }
}
@media (max-width: 576px) {
  .wrap-login100 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 450px) {
  .limiter .container-login100 .logo img {
    width: 300px;
    height: 60px;
  }
  .messages-show {
    width: 300px;
  }
  .messages-show .messages-show-body p {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .limiter .container-login100 .logo img {
    width: 270px;
    height: 50px;
  }
  .messages-show {
    width: 280px;
  }
  .messages-show .messages-show-body p {
    font-size: 13px;
  }
}
@media (max-width: 310px) {
  .messages-show {
    width: 250px;
  }
  .messages-show .messages-show-body p {
    font-size: 12px;
  }
}